@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Baloo+Bhaina+2:wght@400..800&family=Martel+Sans:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    font-family:'poppins';
}
body{
    background-color: black;
}
.main {
    
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 130vw);
    width: 100vw;
    height: 70vh;
    position: relative;
}
.main .box {
    width: 100vw;
    height: 70vh;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0%;
}
nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img {
    height: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 128px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    color: white;
    position: relative;
    padding: 0 30px;
    gap: 10px;

}

.hero> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
    gap: 23px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(50, 48, 48);
    position: relative;
    
}

.btn2{
     padding: 3px 8px;
    color: rgb(234, 230, 230);
    font-weight: 400;
    border-radius: 4px;
    background-color: rgba( 23, 23 ,23, 0.7);
    cursor:pointer;
    border: 1px rgb(32, 31, 31) solid;
    font-family: 'Courier New', Courier, monospace;


}
.btn2:hover{
    opacity: 0.5;
    color: rgb(234, 6, 6);
    box-shadow: 2px 2px 8px rgb(250, 184, 184);
    border: none;
    transition:0.3s;
    transform: scale(1.1);
}
.btn1{
    padding: 3px 8px;
    color: rgb(234, 230, 230);
    font-weight: 400;
    border-radius: 4px;
    background-color: rgba( 23, 23 ,23, 0.7);
    cursor:pointer;
    border: 1px rgb(32, 31, 31) solid;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;


}

.btn1:hover{
    opacity: 0.3;
    transition: 0.3s;
    background-color: #2d2d2d;
    color: white;
    box-shadow:2px 2px 8px red;
    border: none;
    transform: scale(1.1);
    border:none;
   
    
}
.btn-red{
      background-color: red;
    color: white;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 7px;

}
.btn:hover{
     opacity: 0.3;
    transition: 0.3s;
    background-color: #2d2d2d;
    color: white;
    box-shadow:2px 2px 8px red;
    transform: scale(1.1);
    border: none;
    
}

.btn-red-sm{
    background-color: red;
    color: white;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main input{
    background-color: rgba( 23, 23 ,23, 0.7);
    font-size: 12px;
    padding: 7px 101px 8px 14px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    border:  rgba( 23, 23 ,23, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 551px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}